/* Format for applying styling rules */
[selector] {
  [property]: [value];
}


html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}




@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'Dotum', 'SC Dream', Arial, sans-serif;
  /* text-transform: uppercase; */
  letter-spacing: 0.045rem;
  margin: 0;
  padding: 1.3rem;
  background: white;
  overflow-x: hidden;
  width: 100%;
}

img {
  padding-top: 10px;
  width: 400px;
  margin: 0 auto;
  display: block;

}

.text-frag {
  display: inline-block;
  margin-right: 3ch;
}

* {
  box-sizing: border-box;
}

a:link, a:visited {
color: black;
text-decoration: none;
display: inline-block;
}

a:active { color: forestgreen;}
a:hover { color: lavender;}

footer {
  border-top: 1px;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
